.ask-date-range {
  display: flex;
  flex-direction: row;
  width: max-content;
  background-color: clr(text-inverse);
  color: clr(text);
  border-radius: $border-radius-large;
  margin: auto;

  @include breakpoint(mobileonly) {
    flex-direction: column;
    background-color: transparent;
  }
}