.app {
  text-align: center;

  &__title {
    font-size: $h1-font-size;

    @include breakpoint(laptop) {
      font-size: $h1-font-size-desktop;
    }
  }

  &__subtitle {
    font-size: $h3-font-size;
  }

  @include breakpoint(laptop) {
    font-size: $h3-font-size-desktop;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

input {
  padding: 0 $space-xs;
  font-size: $font-14;
  border: none;
  margin: $space-xs;
  background-color: transparent;

  @include breakpoint(laptop) {
    font-size: $font-18;
  }
}