.app {
  text-align: center;

  &__title {
    font-size: $h1-font-size;

    @include breakpoint(laptop) {
      font-size: $h1-font-size-desktop;
    }
  }

  &__subtitle {
    font-size: $h3-font-size;
  }

  @include breakpoint(laptop) {
    font-size: $h3-font-size-desktop;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

input {
  padding: $space-xs;
  border-radius: $border-radius-small;
}