.header {
  background-color: clr(primary);
  color: clr(text-inverse);
  padding: $space-xs $space-xl $space-l $space-xl;

  &__logo-container {
    display: flex;
    align-items: center;
    margin-bottom: $space-s;
  }

  &__logo {
    width: $icon-large;
    height: $icon-large;
  }

  &__title {
    margin: 0;
  }
}